fieldset {
  width: 0px
}

.ssa {
  width: 600px;
}

input {
  width: 600px;
}

.abc input {
  width: 30px;
}

.abc .submitara {
  width: 50px;
  padding: 2px 70px 2px 40px;
  margin-top: 5px;
}

.abc {
  padding-top: 5px
}

body {
  margin: 10px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

div {
  padding-bottom: 5px;
}

div > button {
  color: black;
  display: block;
  width: 602px;
  background-color: 244 244 244;
  padding: 0px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}

canvas {
  border-style: solid;
  border-width: thin;
  border-color: grey;
}

input[type=checkbox] {
  -webkit-transform: scale(1.3);
}

#id4 {
  width: 70px;
  font-size: 2vh;
}

.submitara2 {
  padding: 2px 70px 2px 40px;
}

@media screen and (max-width: 600px) {
  body {
    align-items: baseline;
  }
  div button {
    width: 602px;
    height: 40px;
    font-size: 30px;
  }
  legend {
    font-size: 30px;
  }
  div > input {
    width: 568px;
  }
  input {
    font-size: 3vh;
  }
  label {
    font-size: 25px;
  }
  input[type=checkbox] {
    -webkit-transform: scale(2);
  }
  .abc .submitara {
    padding: 3px 90px 3px 35px;
    font-size: 23px;
  }
  .abc .submitara2 {
    padding: 3px 90px 3px 35px;
    font-size: 23px;
  }
  .ssa {
    padding-bottom: 5px;
  }
  #id3 {
    font-size: 25px
  }
  #id4 {
    font-size: 25px
  }
  #gg1234 {
    font-size: 20px;
  }
}
